<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8500C2A61D14FEAD0046F0D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8500C2BF1D14FEAD0046F0D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8500C2CA1D14FEAD0046F0D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
